#firstP{
    position:absolute;
    left:40px;
    top:30px;
}

/*#firstP {
    position: fixed;
    left: 40px;
    top: 30px;
}

#firstP {
    position: relative;
    left: 40px;
    top: 30px;
}
*/